# Pandas Problem Set

In [131]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insluin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [132]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [133]:
data = pd.read_csv(url, names=names)
data.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [135]:
data.loc[99, "age":"class"]

age      31.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 1

In [138]:
data_class1_boolean = data[data["class"] == 1]
len(data_class1_boolean)

268

Write code to figure out how many people are classified as having diabetes, class is 0

In [139]:
data_class0_boolean = data[data["class"] == 0]
len(data_class0_boolean)

500

What percent of people have diabetes in the study

In [142]:
print("{}% of people have diabetes in this study".format(len(data_class1_boolean)/(len(data_class0_boolean) + len(data_class1_boolean)) * 100))

34.89583333333333% of people have diabetes in this study

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [143]:
data.loc[0:5, ["pres","class"]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1
5    74      0

Run the cell below, it will print out the correlation among the columns

In [144]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000



```
# This is formatted as code
```

What column has the highest correlation with class? Find the mean() value of that column

In [145]:
data['plas'].mean()

120.89453125

Create a new dataframe with only people that are above the mean found above

In [146]:
newdat = data[data["plas"] > data['plas'].mean()]
newdat.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
2     8   183    64     0     0  23.3  0.672   32      1
4     0   137    40    35   168  43.1  2.288   33      1
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

What percent of the new dataframe have diabetes

In [147]:
len(newdat[newdat['class'] == 1])/(len(newdat[newdat['class'] == 1]) + len(newdat[newdat['class'] == 0])) * 100

55.873925501432666

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [149]:
avg = data.mean()
newnewdat = newdat[(newdat['preg']>avg['preg']) & (newdat['plas']>avg['plas']) & (newdat['pres']>avg['pres']) & (newdat['skin']>avg['skin']) & (newdat['test']>avg['test']) & (newdat['mass']>avg['mass']) & (newdat['pedi']>avg['pedi']) & (newdat['age']>avg['age'])]
newnewdat

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
286     5   155    84    44   545  38.7  0.619   34      0
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
594     6   123    72    45   230  33.6  0.733   34      0
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1
744    13   153    88    37   140  40.6  1.174   39      0

Using what you have learned (and google) explore the data. Discuss what you find with people around you or the instructors

In [151]:
len(newnewdat)

19

In [152]:
len(newnewdat[newnewdat['class'] == 1])/(len(newnewdat[newnewdat['class'] == 1]) + len(newnewdat[newnewdat['class'] == 0])) * 100

84.21052631578947